h1 {
    color: red;
    text-align: center;
}

.intro {
   background-color: aquamarine;
}

h2.intro {
  color: red;
}

p.intro {
  text-align: center;
}

img.intro {
  width: 50%;
  margin: 20%;
}

.unimportant {
    color: crimson
}