h1 {
    color: red;
    text-align: center;
}

h2 {
    color: blue;
}

p.intro {
    color: crimson;
    width: 50%;
    font-style: italic;
}

h3 {
    color: blue;
}

p.outro {
    color: crimson;
    width: 50%;
    font-style: italic;
}